<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.claire.myrecipes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignIn" />
        <activity android:name=".LogIn" />
        <activity android:name=".PersonalSpace" />
        <activity android:name=".Search" />
        <activity android:name=".MyRecipes" />
        <activity android:name=".Menus" />
        <activity android:name=".AddRecipe" />
        <activity android:name=".ContinueCooking" />
        <activity android:name=".SharedSpace" />
        <activity android:name=".AddIngredient" />
        <activity android:name=".Settings" />
        <activity android:name=".SelectIngredients" />
        <activity android:name=".Suggestions" />
        <activity android:name=".Proteins" />
        <activity android:name=".Vegetables" />
        <activity android:name=".Fats" />
        <activity android:name=".Fibre" />
        <activity android:name=".Fruits" />
        <activity android:name=".Spices" />
        <activity android:name=".Sugar" />
        <activity android:name=".Dairy" />
        <activity android:name=".ResultsRecipesIngredients"></activity>
    </application>

</manifest>